<template>
    <el-row>
        <el-col>
            <el-row class="py-4 mb-5 ps-5 border-bottom" style="background-color: #e2e8f0">
                <el-row class="mb-5">
                    <el-col>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item>Посты</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="start" align="middle" class="mb-5 ">
                    <el-col :span="4">
                        <h2>Все посты</h2>
                    </el-col>
                    <el-col :span="2">
                        <router-link :to="{name: 'admin.post.create'}">
                            <el-button type="success" icon="el-icon-circle-plus" circle></el-button>
                        </router-link>
                    </el-col>
                </el-row>
            </el-row>
            <el-row>
                <el-col v-if="posts">
                    <el-row class="my-3 pb-3 border-bottom shadow-sm" v-for="post in paginatedData" :key="post.id">
                        <el-col>
                            <el-row type="flex" justify="between" align="start">
                                <el-col :span="6">
                                    <el-image
                                        style="width: 250px; height: 200px"
                                        :src="post.image.preview_url"
                                        fit="cover"></el-image>
                                </el-col>
                                <el-col :span="19">
                                    <div class="mb-2">
                                        <span class="text-muted me-5">Опубликован: {{ post.created_at }}</span>
                                        <span class="author">Автор: {{ post.author.name }}</span>
                                    </div>
                                    <div class="mb-2">
                                        <router-link
                                            class="text-decoration-none fs-5 title"
                                            :to="{name: 'admin.post.show', params: {id: post.id, slug: transliterate(post.title)}}">
                                            {{ post.title }}
                                        </router-link>
                                    </div>
                                    <div v-html="post.content_preview"></div>
                                    <div class="align-middle">
                                        <span class="me-4">
                                            <i class="el-icon-chat-square me-1"></i>
                                            <span>{{ post.comments_count }}</span>
                                        </span>
                                        <span class="me-4">
                                            <i class="el-icon-medal me-1"></i>
                                            <span>{{ post.likes_count }}</span>
                                        </span>
                                        <span>
                                            <i class="el-icon-view me-1"></i>
                                            <span>{{ post.view_count }}</span>
                                        </span>
                                    </div>
                                </el-col>
                                <el-col :span="2" >
                                    <router-link :to="{name: 'admin.post.update', params: {id: post.id, slug: transliterate(post.title)}}"><el-button type="primary" icon="el-icon-edit" circle></el-button></router-link>
                                    <el-popconfirm
                                        @confirm="$store.dispatch('destroyPost', {post, notification})"
                                        confirm-button-text='Удалить'
                                        confirm-button-type="text"
                                        cancel-button-text='Отмена'
                                        icon="el-icon-info"
                                        icon-color="red"
                                        title="Удалить пост?"
                                    >
                                        <el-button slot="reference" type="danger" icon="el-icon-delete" circle></el-button>
                                    </el-popconfirm>

                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
            <el-row v-if="posts" class="my-5" type="flex" justify="center">
                <el-col :span="1">
                    <Paginator :data.sync="posts" :items-per-page="4"></Paginator>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
import transliterate from "../../../lib/translit";
import notification from "../../../lib/notification";
import Paginator from "../../Includes/Paginator";

export default {
    name: "Index",
    components: {Paginator},

    mounted() {
        this.$store.dispatch('getPosts')
    },
    beforeCreate() {
        this.$store.commit('setPaginatedData', null)
    },
    computed: {
        posts() {
            return this.$store.getters.posts
        },
        paginatedData() {
            return this.$store.getters.paginatedData
        },
        notification(){
            return notification(this.$notify)
        }
    },
    methods: {
        transliterate(word) {
            return transliterate(word)
        }
    }
}
</script>

<style scoped>
.title,
.author {
    color: #5e7c97
}

.title:hover,
.author:hover {
    color: #4a657d
}
</style>
