<template>
    <el-row>
        <el-col>
            <el-row v-if="post.id" type="flex" justify="center">
                <el-col :span="15">
                    <el-row class="mb-5">
                        <el-col>
                            <el-page-header title="Назад" @back="back" content="Пост">
                            </el-page-header>
                        </el-col>
                    </el-row>
                    <el-row class="fs-3 mb-5 text-center">
                        <el-col>
                            <div class="text-break">{{ post.title }}</div>
                        </el-col>
                    </el-row>
                    <el-row class="py-4 mb-5 ps-5 border-bottom" style="background-color: #e2e8f0">
                        <el-col class="text-muted">
                            <span class="me-3">Опубликован: {{ post.created_at }}</span>
                            <span >Автор: {{ post.author }}</span>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col class="text-center">
                            <el-image fit="contain" :src="post.image.url"></el-image>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col>
                            <div v-html="post.content_preview" class="ql-editor"></div>
                        </el-col>
                    </el-row>
                    <el-row class="mt-3 mb-5">
                        <el-col>
                            <div v-html="post.content" class="ql-editor"></div>
                        </el-col>
                    </el-row>
                    <el-row v-if="" class="border-bottom border-top">
                        <el-col>
                            <span>Теги</span>
                            <el-tag type="info">Tag 3</el-tag>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>

export default {
    name: "Create",
    computed: {
      post(){
          return this.$store.getters.post
      }
    },
    data() {
        return {}
    },
    mounted() {
        this.$store.dispatch('getPost', {id: this.$route.params.id})
    },
    methods: {
      back(){
          this.$router.push({name: 'admin.post.index'})
      }
    },
    beforeDestroy() {
        this.$store.commit('setPost', {
            id: null,
            author: null,
            title: null,
            content_preview: null,
            content: null,
            category_id: null,
            tags_ids: null,
            image: null,
            created_at: null,
            comments_count: null,
            likes_count: null,
            view_count: null
        })
    }
}
</script>

<style>

</style>
