<template>
    <el-row>
        <el-col>
            <el-row type="flex" justify="around">
                <el-col >
                    <el-row class="py-4 mb-5 ps-5 border-bottom" style="background-color: #e2e8f0">
                        <el-row>
                            <el-col>
                                <el-breadcrumb separator="/">
                                    <el-breadcrumb-item :to="{ name: 'admin.post.index' }">Посты</el-breadcrumb-item>
                                    <el-breadcrumb-item :to="{ name: 'admin.post.show', params: {id: this.$route.params.id, slug: this.$route.params.slug} }">{{ post.title }}</el-breadcrumb-item>
                                    <el-breadcrumb-item>Редактирование поста</el-breadcrumb-item>
                                </el-breadcrumb>
                            </el-col>
                        </el-row>

                        <el-row class="mt-5 mb-5">
                            <el-col>
                                <h2>Редактирование поста</h2>
                            </el-col>
                        </el-row>
                    </el-row>

                    <el-form :model="post" :rules="rules" ref="updatePostForm">

                        <el-row type="flex" justify="between">

                            <el-col>
                                <el-row class="mt-5">
                                    <el-col>
                                        <h6 class="text-muted">Заголовок поста</h6>
                                    </el-col>
                                    <el-col :span="10">
                                        <el-form-item prop="title" :rules="rules.title">
                                            <el-input placeholder="Введите заголовок поста"
                                                      v-model="post.title"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-row>

                                <el-row class="mt-5">
                                    <el-col>
                                        <h6 class="text-muted">Главное изображение</h6>
                                    </el-col>
                                    <el-col>
                                        <el-form-item>
                                            <el-upload
                                                v-model="post.main_image"
                                                action="#"
                                                :auto-upload="false"
                                                :limit="1"
                                                list-type="picture-card"
                                                :on-preview="handlePictureCardPreview"
                                                :on-change="handleAddMainImage"
                                                :on-remove="handleRemove">
                                                <i class="el-icon-plus"></i>
                                            </el-upload>
                                            <el-dialog :visible.sync="mainImageIsZoom">
                                                <img width="100%" :src="mainImageUrl" alt="">
                                            </el-dialog>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-col>

                            <el-col>


                                <el-row class="mt-5">
                                    <el-col>
                                        <h6 class="text-muted">Категория</h6>
                                    </el-col>
                                    <el-col>
                                        <el-form-item prop="category_id" :rules="rules.category">
                                            <el-select v-model="post.category_id" clearable
                                                       placeholder="Выберите категорию" filterable>
                                                <el-option

                                                    v-for="category in categories"
                                                    :key="category.id"
                                                    :label="category.title"
                                                    :value="category.id"
                                                >
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>


                                <el-row type="flex-column" justify="start" class="mt-5">

                                    <el-col>
                                        <h6 class="text-muted">Теги</h6>
                                    </el-col>
                                    <el-col>
                                        <el-form-item>
                                            <el-select v-model="post.tags_ids" multiple placeholder="Select">
                                                <el-option
                                                    v-for="tag in tags"
                                                    :key="tag.id"
                                                    :label="tag.title"
                                                    :value="tag.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="9">
                                        <el-input
                                            class="input-new-tag"
                                            v-if="addTagInputIsVisible"
                                            v-model="tag.title"
                                            size="mini"
                                            ref="addTagInput"
                                            @keyup.enter.native="storeTag({title: tag.title, notification})"
                                            @blur="handleInputOut"
                                        >
                                        </el-input>
                                        <el-button v-else class="button-new-tag" size="small"
                                                   @click="handleShowInputTag">+ Новый тег
                                        </el-button>
                                    </el-col>

                                </el-row>

                            </el-col>
                        </el-row>


                        <el-row class="mt-5">
                            <el-col>
                                <h6 class="text-muted">Контент превью</h6>
                            </el-col>
                            <el-col :span="20">
                                <el-form-item prop="content_preview" :rules="rules.contentPreview">
                                    <vue-editor
                                        id="preview-content-editor"
                                        v-model="post.content_preview"
                                        :editor-toolbar="editorSettings.previewContentEditorToolbar"
                                    ></vue-editor>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row class="mt-5">
                            <el-col>
                                <h6 class="text-muted">Контент</h6>
                            </el-col>
                            <el-col :span="20">
                                <el-form-item prop="content" :rules="rules.content">
                                    <vue-editor
                                        id="content-editor"
                                        v-model="post.content"
                                        :editorOptions="editorSettings.contentEditor"
                                        @image-added="handleImageAdded"
                                        useCustomImageHandler
                                    ></vue-editor>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <el-row class="mt-5 mb-5">
                        <el-col>
                            <el-button type="info" @click="isShowPreview = !isShowPreview" round>Предпросмотр
                            </el-button>
                            <el-button
                                type="success"
                                :loading="$store.getters.isLoading"
                                @click="updatePost('updatePostForm', {post, notification, router: $router, params: $route.params})"
                                round>Опубликовать
                            </el-button>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>

            <el-row>
                <el-col>
                    <el-dialog :fullscreen="true" :visible.sync="isShowPreview">
                        <el-row type="flex" justify="center">
                            <el-col :span="15">
                                <el-row class="fs-3 mb-5 text-center">
                                    <el-col>
                                        <div class="text-break">{{ post.title }}</div>
                                    </el-col>
                                </el-row>
                                <el-row v-show="mainImageUrl">
                                    <el-col class="text-center">
                                        <el-image fit="contain" :src="mainImageUrl"></el-image>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col>
                                        <div v-html="post.content_preview" class="ql-editor"></div>
                                    </el-col>
                                </el-row>
                                <el-row class="mt-3 mb-5">
                                    <el-col>
                                        <div v-html="post.content" class="ql-editor"></div>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-dialog>
                </el-col>
            </el-row>
        </el-col>
    </el-row>

</template>

<script>


import notification from "../../../lib/notification";
import rules from "../../../lib/rules";
import {mapGetters} from 'vuex'
import editorSettings from "../../../config/vueEditor";


export default {
    name: "Create",
    data() {
        return {
            editorSettings,
            isShowPreview: false,
        }
    },
    computed: {
        ...mapGetters([
            'categories',
            'tags',
            'tag',
            'post',
            'addTagInputIsVisible',
        ]),
        mainImageUrl: {
          get(){
              return this.$store.getters.mainImageUrl
          },
          set(url){
              this.$store.commit('setMainImageUrl', url)
          }
        },
        mainImageIsZoom: {
            get(){
                return this.$store.getters.mainImageIsZoom
            },
            set(bool){
                this.$store.commit('setMainImageIsZoom', bool)
            }
        },
        notification() {
            return notification(this.$notify)
        },
        rules() {
            return rules(this.$store.getters.post)
        }
    },
    mounted() {
        this.$store.dispatch('getCategories', this.notification)
        this.$store.dispatch('getTags', this.notification)
        this.$store.dispatch('getAuthUserInfo')
        this.$store.dispatch('getPost', {id: this.$route.params.id, notification: this.notification})
    },
    methods: {

        updatePost(formName, data) {
            this.$refs[formName].validate((valid) => {
                if (valid) this.$store.dispatch('updatePost', data)
            })
        },
        handleRemove(file, fileList) {
            this.$store.commit('setMainImage', null)
            this.$store.commit('setMainImageUrl', null)
        },
        handlePictureCardPreview(file) {
            this.$store.commit('setMainImageIsZoom', true)
        },

        handleAddMainImage(file) {
            this.$store.commit('setMainImageUrl', file.url)
            this.$store.commit('setMainImage', file.raw)
        },
        handleImageAdded(file, Editor, cursorLocation, resetUploader) {
            const formData = new FormData()
            formData.append('image', file)
            axios.post('/api/posts/images', formData)
                .then(res => {
                    console.log(res);
                    let url = res.data.url
                    Editor.insertEmbed(cursorLocation, 'image', url)
                    resetUploader()
                })
                .catch(error => {
                    this.$notify({type: 'error', title: 'Ошибка загрузки', text: error.data.message})
                })
        },
        storeTag(data) {
            this.$store.dispatch('storeTag', data)
            this.$store.commit('setAddTagInputIsVisible', false)
            this.$store.commit('setTag', {id: null, title: null})
        },
        handleInputOut() {
            this.$store.commit('setAddTagInputIsVisible', false)
            this.$store.commit('setTag', {id: null, title: null})
        },

        handleShowInputTag() {
            this.$store.commit('setAddTagInputIsVisible', true)
            this.$nextTick(() => {
                this.$refs.addTagInput.$refs.input.focus()
            })
        },
    },
    beforeDestroy() {
        this.$store.commit('setPost', {
            id: null,
            title: null,
            content_preview: null,
            content: null,
            category_id: null,
            tags_ids: [],
            main_image: null
        })
    }
}
</script>

<style scoped>

</style>
