<template>
    <tr>
        <th></th>
        <td>
            <input
                type="text"
                v-model="category.title"
                v-show="addCategoryInputIsVisible"
                v-on:keyup.enter="$store.dispatch('storeCategory', {title: category.title, notification})"
            >
        </td>
        <td>
            <div v-show="addCategoryInputIsVisible">
                <i @click.prevent="$store.dispatch('storeCategory', {title: category.title, notification})"
                   class="fa fa-floppy-o save" aria-hidden="true"/>

                <i @click.prevent="$store.dispatch('toggleAddCategoryInputIsVisible', false)"
                   class="fa-solid fa-circle-xmark cancel"></i>
            </div>
            <i v-show="!addCategoryInputIsVisible"
               @click.prevent="$store.dispatch('toggleAddCategoryInputIsVisible', true)"
               class="fa-solid fa-plus add"></i>
        </td>
    </tr>
</template>

<script>
import notification from "../../../lib/notification";

export default {
    name: "Create",
    computed: {
        category() {
            return this.$store.getters.category
        },
        addCategoryInputIsVisible() {
            return this.$store.getters.addCategoryInputIsVisible
        },
        notification() {
            return notification(this.$notify)
        }
    }
}
</script>

<style>

</style>
