<template>
    <tr v-show="isEdit(id)">
        <th scope="row">{{ id }}</th>
        <td><input v-on:keyup.enter="$store.dispatch('updateCategory', {category, notification})" v-model="category.title" type="text"></td>
        <td>
            <span>
                <i @click.prevent="$store.dispatch('updateCategory', {category, notification})" class="fa fa-floppy-o save" aria-hidden="true"/>
            </span>
            <span>
                <i @click.prevent="$store.dispatch('unsetEditCategoryId')" class="fa-solid fa-circle-xmark cancel"></i>
            </span>
        </td>
    </tr>
</template>

<script>
import notification from "../../../lib/notification";

export default {
    name: "Edit",
    props: ['id'],
    computed: {
        category(){
            return this.$store.getters.category
        },
        notification(){
            return notification(this.$notify)
        }
    },
    methods: {
        isEdit(id){
            return this.$parent.isEdit(id)
        }
    }
}
</script>

<style scoped>


</style>
