    <template>
    <tr v-show="!isEdit(category.id)">
        <th scope="row">{{ category.id }}</th>
        <td @dblclick="$store.dispatch('changeEditCategoryId', category)">{{ category.title }}</td>
        <td>
            <i @click.prevent="$store.dispatch('changeEditCategoryId', category)" class="fa fa-pencil edit" aria-hidden="true"/>
            <i @click.prevent="$store.dispatch('destroyCategory', {category, notification})" class="fa fa-trash-o destroy" aria-hidden="true"/>
        </td>
    </tr>
</template>

<script>
import notification from "../../../lib/notification";

export default {
    name: "Show",
    props: ['category'],
    computed: {
        notification(){
            return notification(this.$notify)
        }
    },
    methods: {
        isEdit(id){
            return this.$parent.isEdit(id)
        }
    }
}
</script>

<style scoped>

</style>
