<template>
    <div>
        <Navigation></Navigation>
        <router-view class="mt-5"></router-view>
    </div>
</template>

<script>

import Navigation from "./Includes/Navigation";
export default {
    name: "Index",
    components: {Navigation}
}
</script>

<style>
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}
</style>
