<template>

    <el-row>
        <el-col>
            <el-row>
                <el-menu :router="true" class="mb-5 mt-4 pb-2" mode="horizontal">
                    <el-row type="flex" justify="space-between" align="middle">
                        <el-col :span="8">
                            <span class="date border-bottom">{{ date.dayOfWeek }} </span>
                            <span class="time">. {{ date.dayOfMonth }} {{ date.month }} . </span>
                            <span class="border-bottom">{{ date.year }}</span>
                        </el-col>
                        <el-col class="logo" :span="4">
                            <router-link :to="{name: 'blog.index'}"><img src="/dist/img/logo.png" alt="logo">
                            </router-link>
                        </el-col>
                        <el-col :span="8">
                            <el-row type="flex">
                                <el-col><el-menu-item :route="{name: 'post.create'}" index="blog">Создать пост</el-menu-item></el-col>
                                <el-col>
                                    <el-submenu index="user">
                                        <template slot="title">{{ user.email }}</template>
                                        <el-menu-item @click.prevent="$store.dispatch('logout')" index="2-2">item one
                                        </el-menu-item>
                                        <el-menu-item @click="$store.dispatch('logout')" index="/logout">Выйти</el-menu-item>
                                    </el-submenu>
                                </el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                </el-menu>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
export default {
    name: "Header",
    mounted() {
        this.$store.dispatch('getAuthUserInfo')
    },
    computed: {
        date() {
            return this.$store.getters.date
        },
        user(){
            return this.$store.getters.authUserInfo
        }
    }
}
</script>

<style scoped>
.logo img {
    width: 50%;
    height: 50%;
}


</style>
