<template>
    <el-row>
        <el-col>
            <el-row type="flex" justify="around">
                <el-col :span="22">
                    <template v-if="categories">
                        <el-menu :router="true" :default-active="activeIndex" mode="horizontal">
                            <template v-for="category in categories.slice(0, 7)">
                                <el-menu-item
                                    @click="$store.dispatch('getCategoryPosts', category.id)"
                                    :route="{name: 'category.post.index', params: {slug: transliterate(category.title)}}"
                                    :index="`/categories/${transliterate(category.title)}`">
                                    {{ category.title }}
                                </el-menu-item>
                            </template>
                            <el-submenu index="user">
                                <template slot="title">Все категории</template>
                                <template v-for="category in categories.slice(7, categories.length)">
                                    <el-menu-item
                                        @click="$store.dispatch('getCategoryPosts', category.id)"
                                        :route="{name: 'category.post.index', params: {slug: transliterate(category.title)}}"
                                        :index="`/categories/${transliterate(category.title)}`">{{ category.title }}
                                    </el-menu-item>
                                </template>
                            </el-submenu>
                        </el-menu>
                    </template>
                </el-col>
                <el-col :span="4">
                    <el-menu mode="horizontal">
                        <el-menu-item>
                            <el-input
                                size="small"
                                placeholder="Поиск"
                                v-model="searchQuery">
                                <i
                                    @click="search(searchQuery)"
                                    class="el-icon-search el-input__icon"
                                    slot="suffix"
                                    ></i>
                            </el-input>
                        </el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
        </el-col>

    </el-row>

</template>

<script>
import notification from "../../lib/notification";
import transliterate from "../../lib/translit";

export default {
    name: "Navigation",
    data(){
        return {
            searchQuery: ''
        }
    },
    mounted() {
        this.$store.dispatch('getCategories', this.notification)
    },

    methods: {
        transliterate(word) {
            return transliterate(word)
        },
        search(query){
            if(query){
                this.$store.dispatch('getSearchPosts', query)
                if(this.$route.name !== 'post.search')this.$router.push({name: 'post.search'})
            }
        }
    },
    computed: {
        categories() {
            return this.$store.getters.categories
        },
        notification() {
            return notification(this.$notify)
        },
        activeIndex() {
            return this.$route.path
        },
        posts(){
            return this.$store.getters.posts
        }
    }
}
</script>

<style>

</style>
