<template>
    <el-pagination
        :page-size="itemsPerPage"
        :pager-count="11"
        :current-page="currentPage"
        @current-change="changePage"
        layout="prev, pager, next"
        :total="countItems">
    </el-pagination>
</template>

<script>


export default {
    name: "Paginator",

    mounted() {
        this.$store.commit('setItemsPerPage', this.itemsPerPage)
        this.$store.dispatch('setPaginatedData', {data: this.data})
    },
    watch: {
        data: function (val) {
            this.$store.dispatch('setPaginatedData', {data: val})
        }
    },
    beforeDestroy() {
        this.$store.commit('setPaginatedData', null)
        this.$store.commit('setCurrentPage', null)
        this.$store.commit('setItemsPerPage', null)
        this.$store.commit('setCountItems', null)
    },
    computed: {
        countItems() {
            return this.$store.getters.countItems
        },
        currentPage() {
            return this.$store.getters.currentPage
        }
    },
    props: {
        data: {
            type: Array,
            required: true
        },
        itemsPerPage: {
            type: Number,
            required: false,
            default: 10
        }
    },
    methods: {
        changePage(page) {
            this.$store.dispatch('setPaginatedData', {data: this.data, page})
        },
    }
}
</script>

<style scoped>

</style>
