<template>
    <el-row>
        <el-col>
            <el-row class="py-4 mb-5 ps-5 border-bottom" style="background-color: #e2e8f0">
                <el-row class="mb-5">
                    <el-col>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item :to="{ name: 'admin.user.index' }">Пользователи</el-breadcrumb-item>
                            <el-breadcrumb-item>Создание пользователя</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
                <el-row type="flex" class="mb-5">
                    <el-col :span="10">
                        <h2>Добавление Пользователя</h2>
                    </el-col>
                </el-row>
            </el-row>
            <el-row>
                <el-col :span="5">
                    <el-form :rules="rules" :model="user">
                        <el-form-item label="Email" prop="email" :rules="rules.email">
                            <el-input v-model="user.email" autocomplete="off" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="Имя" prop="name" :rules="rules.name">
                            <el-input v-model="user.name" autocomplete="off" clearable></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-switch
                                style="display: block"
                                v-model="user.role"
                                :active-value="1"
                                :inactive-value="0"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                active-text="Юзер"
                                inactive-text="Админ">
                            </el-switch>
                        </el-form-item>
                    </el-form>
                    <el-button @click.prevent="$store.dispatch('storeUser', {user, notification, router: $router})"
                               :loading="$store.getters.isLoading" type="success" round>Создать
                    </el-button>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
import notification from "../../../lib/notification";
import rules from "../../../lib/rules";

export default {
    name: "Index",
    beforeMount() {
        this.$store.commit('setUser', {id: null, name: null, email: null, role: 1})
    },
    methods: {},
    data() {
        return {}
    },
    computed: {
        user() {
            return this.$store.getters.user
        },
        notification() {
            return notification(this.$notify)
        },
        rules() {
            return rules(this.$store.getters.user)
        },
    },
}
</script>

<style scoped>

</style>
