<template>
    <el-row>
        <el-col>
            <el-row class="py-4 mb-5 ps-5 border-bottom" style="background-color: #e2e8f0">
                <el-row class="mb-5">
                    <el-col>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item>Пользователи</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="start" align="middle" class="mb-5">
                    <el-col :span="6">
                        <h2>Все пользователи</h2>
                    </el-col>
                    <el-col :span="2">
                        <router-link :to="{name: 'admin.user.create'}">
                            <el-button type="success" icon="el-icon-circle-plus" circle></el-button>
                        </router-link>
                    </el-col>
                    <el-col :span="3">
                        <el-input
                            size="small"
                            placeholder="Поиск"
                            @change="$store.dispatch('getSearchUsers', {searchUserQuery, notification})"
                            v-model="searchUserQuery" clearable>
                            <i
                                class="el-icon-search el-input__icon"
                                slot="suffix"
                            ></i>
                        </el-input>
                    </el-col>
                </el-row>
            </el-row>
            <el-row>
                <el-col>
                    <el-row :gutter="10" v-if="paginatedData">
                        <el-col :span="6" v-for="user in paginatedData" :key="user.id" class="mb-2">
                            <el-card shadow="hover">
                                <el-row type="flex" class="row-bg mb-2" justify="center">
                                    <el-col class="text-center border-bottom">
                                        <div class="">{{ user.email }}</div>
                                    </el-col>
                                </el-row>
                                <el-row type="flex" justify="around" class="row-bg">
                                    <el-col class="text-center">
                                        <el-avatar icon="el-icon-user-solid" fit="scale-down" :size="75"></el-avatar>
                                    </el-col>
                                    <el-col class="text-center">
                                        <div><span>{{ user.name }}</span></div>
                                        <div><span>{{ user.role }}</span></div>
                                    </el-col>
                                </el-row>
                                <el-row type="flex" justify="center">
                                    <div class="bottom clearfix">
                                        <el-button
                                            @click="editUser({
                                            id: user.id,
                                            email: user.email,
                                            name: user.name,
                                            role: roles.indexOf(user.role)})"
                                            type="primary" icon="el-icon-edit"
                                            circle></el-button>

                                        <el-popconfirm
                                            @confirm="$store.dispatch('destroyUser', {id: user.id, notification})"
                                            confirm-button-text='Удалить'
                                            confirm-button-type="text"
                                            cancel-button-text='Отмена'
                                            icon="el-icon-info"
                                            icon-color="red"
                                            title="Удалить пользователя?"
                                        >
                                            <el-button slot="reference" type="danger" icon="el-icon-delete"
                                                       circle></el-button>
                                        </el-popconfirm>

                                    </div>
                                </el-row>
                            </el-card>
                        </el-col>

                        <el-dialog width="25%" @close="isEdit = false" title="Пользователь" :visible.sync="isEdit">
                            <el-form :rules="rules" :model="user" ref="updateUserForm">
                                <el-form-item label="Email" prop="email" :rules="rules.email">
                                    <el-input v-model="user.email" autocomplete="off" clearable></el-input>
                                </el-form-item>
                                <el-form-item label="Имя" prop="name" :rules="rules.name">
                                    <el-input v-model="user.name" autocomplete="off" clearable></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-switch
                                        style="display: block"
                                        v-model="user.role"
                                        :active-value="1"
                                        :inactive-value="0"
                                        active-color="#13ce66"
                                        inactive-color="#ff4949"
                                        active-text="Юзер"
                                        inactive-text="Админ">
                                    </el-switch>
                                </el-form-item>
                            </el-form>


                            <span slot="footer" class="dialog-footer">
                                <el-button @click="isEdit = false" type="info" round>Отмена</el-button>
                                <el-button
                                    @click="$store.dispatch('updateUser', {user, notification})"
                                    :loading="$store.getters.isLoading"
                                    type="success"
                                    round>Сохранить</el-button>
                            </span>
                        </el-dialog>

                    </el-row>
                    <el-row v-if="users" type="flex" justify="center" class="my-5">
                        <el-col :span="1">
                            <Paginator :data.sync="users" :itemsPerPage="12"></Paginator>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-col>
    </el-row>
</template>

<script>
import notification from "../../../lib/notification";
import rules from "../../../lib/rules";
import Paginator from "../../Includes/Paginator";

export default {
    name: "Index",
    components: {
        Paginator
    },
    data() {
        return {
            searchUserQuery: ''
        }
    },
    mounted() {
        this.$store.dispatch('getUsers')
        this.$store.dispatch('getRoles')
    },
    methods: {
        editUser(user) {
            this.$store.commit('setUser', user)
            this.$store.commit('setIsEdit', true)
        },
    },
    computed: {
        users() {
            return this.$store.getters.users
        },
        user() {
            return this.$store.getters.user
        },
        paginatedData() {

            return this.$store.getters.paginatedData
        },
        roles() {
            return this.$store.getters.roles
        },
        notification() {
            return notification(this.$notify)
        },
        isEdit: {
            get() {
                return this.$store.getters.isEdit
            },
            set(bool) {
                this.$store.commit('setIsEdit', bool)
            }
        },
        rules() {
            return rules(this.$store.getters.user)
        }
    },
}
</script>

<style scoped>

</style>
