<template>
    <el-row>
        <el-col>
            <Navigation></Navigation>
            <router-view class="mt-5"></router-view>
        </el-col>
    </el-row>
</template>

<script>
import Navigation from "./Includes/Navigation";

export default {
    name: "Index",
    components: {Navigation}
}
</script>

<style>

</style>
