<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Вход</div>
                    <div class="card-body">
                        <el-form :model="loginFields" :rules="rules" status-icon ref="loginForm"
                                 label-width="120px">
                            <el-form-item label="Email" prop="email" :rules="rules.email">
                                <el-input v-model="loginFields.email" clearable></el-input>
                            </el-form-item>
                            <el-form-item label="Password" prop="password" :rules="rules.password">
                                <el-input v-model="loginFields.password" auto-complete="off" show-password clearable></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button  :loading="$store.getters.IS_LOADING" type="info" v-bind:key.enter="login('loginForm')" @click.prevent="login('loginForm')" plain round>Войти</el-button>
                                <router-link :to="{name: 'auth.forgot'}" class="text-decoration-none ms-3 text-muted">Забыли пароль?</router-link>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import rules from '../../lib/rules'
import notification from "../../lib/notification";
export default {
    name: "Login",
    computed: {
        loginFields() {
            return this.$store.getters.LOGIN_FIELDS
        },
        rules(){
            return rules(this.$store.getters.loginFields)
        }
    },
    methods: {
        login(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.$store.dispatch('login', {loginFields: this.loginFields, notification: notification(this.$notify)})
                }
            });
        },
    }
}
</script>

<style>

</style>
