<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Регистрация</div>
                    <div class="card-body">
                        <el-form :model="registrationFields" status-icon :rules="rules" ref="registrationForm"
                                 label-width="120px">
                            <el-form-item label="Имя" prop="name" :rules="rules.name">
                                <el-input v-model="registrationFields.name" clearable></el-input>
                            </el-form-item>
                            <el-form-item label="Email" prop="email" :rules="rules.email">
                                <el-input v-model="registrationFields.email" clearable></el-input>
                            </el-form-item>
                            <el-form-item label="Пароль" prop="password" :rules="rules.password">
                                <el-input v-model="registrationFields.password" auto-complete="off" show-password clearable></el-input>
                            </el-form-item>
                            <el-form-item label="Еще раз" prop="password_confirmation"
                                          :rules="rules.password_confirmation">
                                <el-input v-model="registrationFields.password_confirmation" auto-complete="off" show-password clearable></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button :loading="$store.getters.isLoading" type="info"
                                           @click.prevent="register('registrationForm')" plain round>Зарегестрироваться
                                </el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import rules from "../../lib/rules";
import notification from "../../lib/notification";

export default {
    name: "Registration",
    computed: {
        rules() {
            return rules(this.$store.getters.registrationFields)
        },
        registrationFields() {
            return this.$store.getters.registrationFields
        }
    },
    methods: {
        register(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.$store.dispatch('registration', {registrationFields: this.registrationFields, notification: notification(this.$notify), router: this.$router})
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
