<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">Сброс пароля</div>
                    <div class="card-body">
                        <el-form :model="resetPasswordFields" status-icon :rules="rules" ref="resetPasswordForm"
                                 label-width="120px">
                            <el-form-item label="Пароль" prop="password" :rules="rules.password">
                                <el-input v-model="resetPasswordFields.password" auto-complete="off" show-password clearable></el-input>
                            </el-form-item>
                            <el-form-item label="Еще раз" prop="password_confirmation" :rules="rules.password_confirmation">
                                <el-input v-model="resetPasswordFields.password_confirmation" auto-complete="off" show-password clearable></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button :loading="$store.getters.isLoading" type="info"
                                           @click.prevent="resetPassword('resetPasswordForm')" plain round>Сбросить пароль
                                </el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import rules from "../../lib/rules";
import notification from "../../lib/notification";

export default {
    name: "ResetPassword",
    data() {
        return {
            isShowPassword: false
        }
    },
    computed: {
        resetPasswordFields() {
            return this.$store.getters.resetPasswordFields
        },
        rules() {
            return rules(this.$store.getters.resetPasswordFields)
        }
    },
    mounted() {
        this.$store.commit('setResetPasswordFields', {
            email: this.$route.query.email,
            password: null,
            password_confirmation: null,
            token: this.$route.query.token
        })
    },
    methods: {
        resetPassword(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.$store.dispatch('resetPassword', {
                        resetPasswordFields: this.resetPasswordFields,
                        notification: notification(this.$notify),
                        router: this.$router
                    })
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
