<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Подтвердите ваш email</div>

                    <div class="card-body">
                        Ссылка для подтверждения email отправлена на вашу почту.
                        <el-button type="text" @click.prevent="$store.dispatch('resendEmailVerifyLink', notification)">
                            Отправить ссылку еще раз
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import notification from "../../lib/notification";

export default {
    name: "VerifyEmail",
    computed: {
        notification() {
            return notification(this.$notify)
        }
    }
}
</script>

<style scoped>

</style>
