<template>
    <tr>
        <th></th>
        <td>
            <input
                v-model="tag.title"
                type="text"
                v-show="addTagInputIsVisible"
                v-on:keyup.enter="$store.dispatch('storeTag', {title: tag.title, notification})"
            >
        </td>
        <td>
            <div v-show="addTagInputIsVisible">
                <i @click.prevent="$store.dispatch('storeTag', {title: tag.title, notification})"
                   class="fa fa-floppy-o save" aria-hidden="true"/>

                <i @click.prevent="$store.commit('setAddTagInputIsVisible', false)"
                   class="fa-solid fa-circle-xmark cancel"></i>
            </div>
            <i v-show="!addTagInputIsVisible"
               @click.prevent="$store.dispatch('toggleAddTagInputIsVisible', true)"
               class="fa-solid fa-plus add"></i>
        </td>
    </tr>
</template>

<script>
import notification from "../../../lib/notification";

export default {
    name: "Create",
    computed: {
        tag() {
            return this.$store.getters.tag
        },
        addTagInputIsVisible() {
            return this.$store.getters.addTagInputIsVisible
        },
        notification() {
            return notification(this.$notify)
        }
    }
}
</script>

<style scoped>

</style>
