<template>
    <tr v-show="isEdit(id)">
        <th scope="row">{{ id }}</th>
        <td><input v-on:keyup.enter="$store.dispatch('updateTag', {tag, notification})" v-model="tag.title" type="text"></td>
        <td>
            <i @click.prevent="$store.dispatch('updateTag', {tag, notification})" class="fa fa-floppy-o save" aria-hidden="true"/>
            <i @click.prevent="$store.dispatch('unsetEditTagId')" class="fa-solid fa-circle-xmark cancel"></i>
        </td>
    </tr>
</template>

<script>
import notification from "../../../lib/notification";

export default {
    name: "Edit",
    props: ['id'],
    computed: {
        tag(){
            return this.$store.getters.tag
        },
        notification(){
            return notification(this.$notify)
        }
    },
    methods: {
        isEdit(id) {
            return this.$parent.isEdit(id)
        }
    }
}
</script>

<style scoped>


</style>
