<template>
    <tr v-show="!isEdit(tag.id)">
        <th scope="row">{{ tag.id }}</th>
        <td @dblclick="$store.dispatch('changeEditTagId', tag)">{{ tag.title }}</td>
        <td>
            <i @click.prevent="$store.dispatch('changeEditTagId', tag)" class="fa fa-pencil edit" aria-hidden="true"/>
            <i @click.prevent="$store.dispatch('destroyTag', {tag, notification})" class="fa fa-trash-o destroy" aria-hidden="true"/>
        </td>
    </tr>
</template>

<script>
import notification from "../../../lib/notification";

export default {
    name: "Show",
    props: ['tag'],
    computed: {
       notification(){
           return notification(this.$notify)
       }
    },
    methods: {
        isEdit(id){
            return this.$parent.isEdit(id)
        }
    }
}
</script>

<style scoped>

</style>
