<template>
    <div>
        <Header class="header"></Header>
        <Navigation></Navigation>
        <router-view class="router-view"></router-view>
    </div>
</template>

<script>
import Header from "./Includes/Header";
import Footer from "./Includes/Footer";
import Navigation from "./Includes/Navigation"

export default {
    name: "Index",
    components: {Footer, Header, Navigation},
    mounted() {
        this.$store.dispatch('index')
    }
}
</script>

<style>


</style>
