<template>
    <el-row>
        <el-col>
            <template v-for="(posts, category) in posts">
                <el-row>
                    <el-col>
                        <h2>{{ category }}</h2>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="center">
                    <template v-for="post in posts.slice(0, 4)">
                        <el-col :span="5">
                            <el-card shadow="hover" :body-style="{padding: '0px'}" class="first-row-card bg-secondary">
                                <el-image fit="contain" :src="post.preview_url" class="first-row-img"></el-image>
                                <div class="first-row-title">
                                    <span>{{ post.title }}</span>
                                </div>
                            </el-card>
                        </el-col>
                    </template>
                </el-row>
            </template>
        </el-col>
    </el-row>
    <!--    <div class="row mt-5 mb-5">-->
    <!--        <div class="col">-->
    <!--            <div v-for="(postsByCategory, category) in posts" class="row mb-3">-->

    <!--                <div class="row category-title">-->
    <!--                    <div class="fs-2 border-bottom mb-3 col">{{ category }}</div>-->
    <!--                </div>-->

    <!--                <div class="row mb-1 justify-content-between pb-3 border-bottom">-->
    <!--                    <template v-for="(post, index) in postsByCategory">-->
    <!--                        <div v-show="index < 5" v-bind:class="{'flex-fill': postsByCategory.length > 5}" class="col-2">-->
    <!--                            <a href="">-->
    <!--                                <div class="card text-white border-0 card-div">-->
    <!--                                    <img :src="post.preview_url" class="img-fluid post-header-img" alt="...">-->
    <!--                                    <div class="card-img-overlay text-center mt-5">-->
    <!--                                        <h5 class="card-text">{{ post.title }}</h5>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </template>-->
    <!--                </div>-->


    <!--                <div class="row justify-content-between border-bottom mt-3 mb-5 position-relative">-->
    <!--                    <template v-for="(post, index) in postsByCategory">-->
    <!--                        <div v-show="index === 5" class="col-4 flex-grow-1">-->
    <!--                            <div class="card mb-3 border-0">-->
    <!--                                <div class="row g-0">-->
    <!--                                    <div class="col">-->
    <!--                                        <img :src="post.preview_url" class="img-fluid" alt="...">-->
    <!--                                    </div>-->
    <!--                                </div>-->

    <!--                                <div class="row card-body g-1">-->
    <!--                                    <div class="col-6">-->
    <!--                                        <a href="" class="text-decoration-none"><h5 class="card-title">{{ post.title }}-->
    <!--                                            {{ post.id }}</h5></a>-->
    <!--                                        <div class="post-information">-->
    <!--                                            <span class="badge bg-secondary">-->
    <!--                                                <i class="fa-regular fa-eye me-1"></i> {{ post.view_count }}-->
    <!--                                                <i class="fa-regular fa-comment ms-2 me-1"></i> 0-->
    <!--                                                <i class="fa-regular fa-heart ms-2 me-1"></i> 0-->
    <!--                                            </span>-->
    <!--                                            <span class="mt-2 d-block text-muted">{{ post.created_at }}</span>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                    <div class="col-6">-->
    <!--                                        <div v-html="post.content_preview" class="card-text"></div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->

    <!--                        <div v-show="index === 6" class="col-3 border-right">-->
    <!--                            <div class="card border-0 mb-3">-->
    <!--                                <div class="row g-0">-->
    <!--                                    <div class="col">-->
    <!--                                        <img :src="post.preview_url" class="img-fluid post-header-img" alt="...">-->
    <!--                                    </div>-->
    <!--                                </div>-->

    <!--                                <div class="row card-body">-->
    <!--                                    <div class="col">-->
    <!--                                        <a href="" class="text-decoration-none"><h5 class="card-title">{{ post.title }}-->
    <!--                                            {{ post.id }}</h5></a>-->
    <!--                                        <div class="post-information mb-2">-->
    <!--                                            <span class="badge bg-secondary">-->
    <!--                                                <i class="fa-regular fa-eye me-1"></i> {{ post.view_count }}-->
    <!--                                                <i class="fa-regular fa-comment ms-2 me-1"></i> 0-->
    <!--                                                <i class="fa-regular fa-heart ms-2 me-1"></i> 0-->
    <!--                                            </span>-->
    <!--                                            <span class="ms-2 text-muted">{{ post.created_at }}</span>-->
    <!--                                        </div>-->
    <!--                                        <div class="post-preview-content">-->
    <!--                                            <div v-html="post.content_preview" class="card-text ql-editor"></div>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </template>-->

    <!--                    <div class="col-4 flex-grow-1">-->
    <!--                        <template v-for="(post, index) in postsByCategory">-->
    <!--                            <div v-show="index > 6" class="row">-->
    <!--                                <div class="card border-0 mb-3">-->
    <!--                                    <div class="row g-0">-->
    <!--                                        <div class="col-6">-->
    <!--                                            <img :src="post.preview_url"-->
    <!--                                                 class="img-fluid container-fluid post-header-img" alt="...">-->
    <!--                                        </div>-->
    <!--                                        <div class="col-6">-->
    <!--                                            <div class="card-body">-->
    <!--                                                <a href="" class="text-decoration-none"><h5 class="card-title">{{ post.title }}</h5></a>-->
    <!--                                                <div class="post-information">-->
    <!--                                                    <span class="badge bg-secondary">-->
    <!--                                                        <i class="fa-regular fa-eye me-1"></i> {{ post.view_count }}-->
    <!--                                                        <i class="fa-regular fa-comment ms-2 me-1"></i> 0-->
    <!--                                                        <i class="fa-regular fa-heart ms-2 me-1"></i> 0-->
    <!--                                                    </span>-->
    <!--                                                    <span class="mt-2 d-block text-muted">{{ post.created_at }}</span>-->
    <!--                                                </div>-->
    <!--                                            </div>-->
    <!--                                        </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->

    <!--                            </div>-->
    <!--                        </template>-->
    <!--                    </div>-->
    <!--                    <button type="button"-->
    <!--                            class="btn btn-outline-secondary category-footer-button border border-top-0 col-2">-->
    <!--                        Смотреть все посты-->
    <!--                    </button>-->
    <!--                </div>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</template>

<script>
import notification from "../../lib/notification";

export default {
    name: "Index",
    mounted() {
        this.$store.dispatch('getBlogPosts', this.notification)
        if (this.$route.query.verified) notification(this.$notify).success('Почта подтверждена')
    },
    computed: {
        posts() {
            return this.$store.getters.posts
        },
        notification() {
            return notification(this.$notify)
        }
    }
}
</script>

<style scoped>
.first-row-card {
    position: relative;
}

.first-row-card:hover .first-row-img {
    transition: all 0.5s;
    opacity: 0.6;
}

.first-row-title {
    opacity: 0;
    position: absolute;
    padding: 14px;
    top: 0;
    left: 0;
    color: #f3f4f6;
}

.first-row-card:hover .first-row-title{
    transition: all 0.5s ease-in-out 0.3s;
    opacity: 0.8;
}

/*.first-row-card:hover .first-row-title{*/
/*    position: absolute;*/
/*    padding: 14px;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
/*.first-row-title{*/
/*    display: none;*/

/*}*/

</style>
