<template>
    <div>SHOW</div>
</template>

<script>

export default {
    name: "Create",
    components: {},
    computed: {
      post(){
          return this.$store.getters.post
      }
    },
    data() {
        return {}
    },
    mounted() {
        this.$store.dispatch('getPost', {id: this.$route.params.id})
    }
}
</script>

<style>

</style>
