<template>
    <el-row type="flex" justify="around">
        <el-col :span="20">
            <el-menu :default-active="$route.name" :router="true" class="el-menu-demo mb-5 mt-4" mode="horizontal">
                <el-menu-item :route="{name: 'admin.category.index'}" index="admin.category.index">Категории</el-menu-item>
                <el-menu-item :route="{name: 'admin.tag.index'}" index="admin.tag.index">Теги</el-menu-item>
                <el-menu-item :route="{name: 'admin.user.index'}" index="admin.user.index">Пользователи</el-menu-item>
                <el-menu-item :route="{name: 'admin.post.index'}" index="admin.post.index">Посты</el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="4">
            <el-menu :default-active="$route.name" :router="true" class="el-menu-demo mb-5 mt-4" mode="horizontal">
                <el-submenu index="user">
                    <template slot="title">{{ user }}</template>
                    <el-menu-item @click.prevent="$store.dispatch('logout')" index="2-2">item one</el-menu-item>
                    <el-menu-item @click="$store.dispatch('logout')" index="/logout">Выйти</el-menu-item>
                </el-submenu>
            </el-menu>
        </el-col>
    </el-row>

</template>

<script>

export default {
    name: "Navigation",
    computed: {
        user(){
            return localStorage.getItem('user_email')
        }
    }
}
</script>

<style scoped>

</style>
